<a href="https://colab.research.google.com/github/ravsheerRSA/Python_Training/blob/main/Python_training_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import packages**

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

**Read in files**

read in csv: read_csv("file_path")

In [2]:
df_non_season = pd.read_excel("/content/rh_non_seasonaility_traffic.xlsx")

In [3]:
df_season = pd.read_excel("/content/rh_seasonaility_traffic.xlsx")

In [4]:
df_trend = pd.read_excel("/content/rh_trend_traffic.xlsx")

**Has my data loaded in correctly?**

to see the nummber of rows, call '.shape'

In [5]:
df_non_season.shape # rows x columns of non seasonality data

(801, 37)

In [6]:
df_season.shape # rows x columns of seasonality data

(801, 37)

In [7]:
df_trend.shape # rows x columns of seasonality data

(801, 37)

**What does my data look like?**

call '.head()' function. 

This will show you the first 5 rows.

If you would like to first x rows then use .head(x)


to see the last 5 rows, use '.tail()'

In [8]:
df_non_season.head()

,Unnamed: 0,London,London.1,London.2,London.3,London.4,London.5,North East,North East.1,North East.2,...,Greater Manchester.2,Greater Manchester.3,Greater Manchester.4,Greater Manchester.5,Reading,Reading.1,Reading.2,Reading.3,Reading.4,Reading.5
0,,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,...,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists
1,,* London series start 11/03/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,* Reading series start 07/05/2020,NaN,NaN,NaN,NaN,NaN
2,2020-03-01 00:00:00,*,*,*,*,*,*,47021,20,1329,...,*,*,*,*,*,*,*,*,*,*
3,2020-03-02 00:00:00,*,*,*,*,*,*,54963,24,2442,...,*,*,*,*,*,*,*,*,*,*
4,2020-03-03 00:00:00,*,*,*,*,*,*,56779,26,2468,...,*,*,*,*,*,*,*,*,*,*

In [9]:
df_season.head(10)

,,London,London.1,London.2,London.3,London.4,London.5,North East,North East.1,North East.2,...,Greater Manchester.2,Greater Manchester.3,Greater Manchester.4,Greater Manchester.5,Reading,Reading.1,Reading.2,Reading.3,Reading.4,Reading.5
0,,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,...,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists
1,,* London series start 11/03/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,* Reading series start 07/05/2020,NaN,NaN,NaN,NaN,NaN
2,2020-03-01 00:00:00,*,*,*,*,*,*,55943,20,2256,...,*,*,*,*,*,*,*,*,*,*
3,2020-03-02 00:00:00,*,*,*,*,*,*,55546,24,2297,...,*,*,*,*,*,*,*,*,*,*
4,2020-03-03 00:00:00,*,*,*,*,*,*,55287,25,2325,...,*,*,*,*,*,*,*,*,*,*
5,2020-03-04 00:00:00,*,*,*,*,*,*,52823,21,2236,...,*,*,*,*,*,*,*,*,*,*
6,2020-03-05 00:00:00,*,*,*,*,*,*,52807,22,2279,...,*,*,*,*,*,*,*,*,*,*
7,2020-03-06 00:00:00,*,*,*,*,*,*,57019,25,2307,...,*,*,*,*,*,*,*,*,*,*
8,2020-03-07 00:00:00,*,*,*,*,*,*,55923,22,2205,...,*,*,*,*,*,*,*,*,*,*
9,2020-03-08 00:00:00,*,*,*,*,*,*,55489,21,2233,...,*,*,*,*,*,*,*,*,*,*

In [10]:
df_trend.head(12)

,Unnamed: 0,London,London.1,London.2,London.3,London.4,London.5,North East,North East.1,North East.2,...,Greater Manchester.2,Greater Manchester.3,Greater Manchester.4,Greater Manchester.5,Reading,Reading.1,Reading.2,Reading.3,Reading.4,Reading.5
0,,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,...,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists
1,,* London series start 11/03/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,* Reading series start 07/05/2020,NaN,NaN,NaN,NaN,NaN
2,2020-03-01 00:00:00,*,*,*,*,*,*,55268,23,2324,...,*,*,*,*,*,*,*,*,*,*
3,2020-03-02 00:00:00,*,*,*,*,*,*,55152,23,2311,...,*,*,*,*,*,*,*,*,*,*
4,2020-03-03 00:00:00,*,*,*,*,*,*,54996,23,2299,...,*,*,*,*,*,*,*,*,*,*
5,2020-03-04 00:00:00,*,*,*,*,*,*,54865,23,2288,...,*,*,*,*,*,*,*,*,*,*
6,2020-03-05 00:00:00,*,*,*,*,*,*,54870,23,2277,...,*,*,*,*,*,*,*,*,*,*
7,2020-03-06 00:00:00,*,*,*,*,*,*,54972,24,2266,...,*,*,*,*,*,*,*,*,*,*
8,2020-03-07 00:00:00,*,*,*,*,*,*,55007,24,2254,...,*,*,*,*,*,*,*,*,*,*
9,2020-03-08 00:00:00,*,*,*,*,*,*,54942,24,2243,...,*,*,*,*,*,*,*,*,*,*
10,2020-03-09 00:00:00,*,*,*,*,*,*,54842,24,2232,...,*,*,*,*,*,*,*,*,*,*
11,2020-03-10 00:00:00,*,*,*,*,*,*,54720,25,2221,...,*,*,*,*,*,*,*,*,*,*

In [11]:
df_non_season.tail()

,Unnamed: 0,London,London.1,London.2,London.3,London.4,London.5,North East,North East.1,North East.2,...,Greater Manchester.2,Greater Manchester.3,Greater Manchester.4,Greater Manchester.5,Reading,Reading.1,Reading.2,Reading.3,Reading.4,Reading.5
796,2022-05-04 00:00:00,288928,791,20435,21410,51367,63031,Δ,Δ,Δ,...,465,480,1133,779,Δ,Δ,Δ,Δ,Δ,Δ
797,2022-05-05 00:00:00,302223,832,19756,20552,49620,64704,Δ,Δ,Δ,...,429,423,998,718,Δ,Δ,Δ,Δ,Δ,Δ
798,2022-05-06 00:00:00,310527,743,18851,19803,47434,60413,Δ,Δ,Δ,...,466,479,1354,593,Δ,Δ,Δ,Δ,Δ,Δ
799,2022-05-07 00:00:00,331122,768,17342,12496,30666,59849,Δ,Δ,Δ,...,364,265,802,769,Δ,Δ,Δ,Δ,Δ,Δ
800,2022-05-08 00:00:00,294724,630,13158,8856,19914,42957,Δ,Δ,Δ,...,321,206,598,981,Δ,Δ,Δ,Δ,Δ,Δ

**Structure of my data**

'.info()'

In [12]:
df_non_season.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            801 non-null    object
 1   London                801 non-null    object
 2   London.1              800 non-null    object
 3   London.2              800 non-null    object
 4   London.3              800 non-null    object
 5   London.4              800 non-null    object
 6   London.5              800 non-null    object
 7   North East            793 non-null    object
 8   North East.1          793 non-null    object
 9   North East.2          793 non-null    object
 10  North East.3          793 non-null    object
 11  North East.4          793 non-null    object
 12  North East.5          793 non-null    object
 13  Northern Ireland      801 non-null    object
 14  Northern Ireland.1    800 non-null    object
 15  Northern Ireland.2    800 non-null    object
 16  Northern Ireland.3    800 non-null    object
 17  Northern Ireland.4    800 non-null    object
 18  Northern Ireland.5    800 non-null    object
 19  Southend              801 non-null    object
 20  Southend.1            800 non-null    object
 21  Southend.2            800 non-null    object
 22  Southend.3            800 non-null    object
 23  Southend.4            800 non-null    object
 24  Southend.5            800 non-null    object
 25  Greater Manchester    801 non-null    object
 26  Greater Manchester.1  800 non-null    object
 27  Greater Manchester.2  800 non-null    object
 28  Greater Manchester.3  800 non-null    object
 29  Greater Manchester.4  800 non-null    object
 30  Greater Manchester.5  800 non-null    object
 31  Reading               801 non-null    object
 32  Reading.1             800 non-null    object
 33  Reading.2             800 non-null    object
 34  Reading.3             800 non-null    object
 35  Reading.4             800 non-null    object
 36  Reading.5             800 non-null    object
dtypes: object(37)
memory usage: 231.7+ KB

**Cleaning data into correct format**

In [13]:
df_non_season.head()

,Unnamed: 0,London,London.1,London.2,London.3,London.4,London.5,North East,North East.1,North East.2,...,Greater Manchester.2,Greater Manchester.3,Greater Manchester.4,Greater Manchester.5,Reading,Reading.1,Reading.2,Reading.3,Reading.4,Reading.5
0,,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,...,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists
1,,* London series start 11/03/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,* Reading series start 07/05/2020,NaN,NaN,NaN,NaN,NaN
2,2020-03-01 00:00:00,*,*,*,*,*,*,47021,20,1329,...,*,*,*,*,*,*,*,*,*,*
3,2020-03-02 00:00:00,*,*,*,*,*,*,54963,24,2442,...,*,*,*,*,*,*,*,*,*,*
4,2020-03-03 00:00:00,*,*,*,*,*,*,56779,26,2468,...,*,*,*,*,*,*,*,*,*,*

**How to remove columns/rows.**

'.drop()'

index 0 is your first row 

index 1 is your second row 

and so on

In [14]:
df_non_season_2 = df_non_season.drop(df_non_season.index[1]) ## option 1

df_non_season.drop(df_non_season.index[1], inplace= True) ##option 2

##Can either assign your dataset to a new variable, as done in option 1 
## Or, you can use inplace = True which will automatically update the dataset, df_non_season. Would avoid using this approach and opt for the first one  


##code explained
## df_non_season.index[1] picks up 2nd row
## apply .drop() to the above will therefore remove the 2nd row

In [15]:
df_non_season_2.head()

,Unnamed: 0,London,London.1,London.2,London.3,London.4,London.5,North East,North East.1,North East.2,...,Greater Manchester.2,Greater Manchester.3,Greater Manchester.4,Greater Manchester.5,Reading,Reading.1,Reading.2,Reading.3,Reading.4,Reading.5
0,,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,...,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists
2,2020-03-01 00:00:00,*,*,*,*,*,*,47021,20,1329,...,*,*,*,*,*,*,*,*,*,*
3,2020-03-02 00:00:00,*,*,*,*,*,*,54963,24,2442,...,*,*,*,*,*,*,*,*,*,*
4,2020-03-03 00:00:00,*,*,*,*,*,*,56779,26,2468,...,*,*,*,*,*,*,*,*,*,*
5,2020-03-04 00:00:00,*,*,*,*,*,*,53760,21,2419,...,*,*,*,*,*,*,*,*,*,*

**Cleaning the data - part 2**

Appending column and first row

In [16]:
df_non_season_2.columns

Index(['Unnamed: 0', 'London', 'London.1', 'London.2', 'London.3', 'London.4',
       'London.5', 'North East', 'North East.1', 'North East.2',
       'North East.3', 'North East.4', 'North East.5', 'Northern Ireland',
       'Northern Ireland.1', 'Northern Ireland.2', 'Northern Ireland.3',
       'Northern Ireland.4', 'Northern Ireland.5', 'Southend', 'Southend.1',
       'Southend.2', 'Southend.3', 'Southend.4', 'Southend.5',
       'Greater Manchester', 'Greater Manchester.1', 'Greater Manchester.2',
       'Greater Manchester.3', 'Greater Manchester.4', 'Greater Manchester.5',
       'Reading', 'Reading.1', 'Reading.2', 'Reading.3', 'Reading.4',
       'Reading.5'],
      dtype='object')

In [17]:
df_non_season_2.rename(columns = {"London": "London_CARS",
                                  "North East": "North_East_CARS",
                                  "Northern Ireland": "Northern_Ireland_CARS",
                                  "Southend": "Southend_CARS",
                                  "Greater Manchester": "Greater_Manchester_CARS",
                                  "Reading": "Reading_CARS",
                                  'Unnamed: 0': "DATE"}, inplace = True)

In [18]:
df_non_season_2.columns = df_non_season_2.columns.str.replace(".1", "_MOTORBIKES")

df_non_season_2.columns = df_non_season_2.columns.str.replace(".2", "_BUSES")

df_non_season_2.columns = df_non_season_2.columns.str.replace(".3", "_TRUCKS")

df_non_season_2.columns = df_non_season_2.columns.str.replace(".4", "_VANS")

df_non_season_2.columns = df_non_season_2.columns.str.replace(".5", "_PEDESTRIANS_CYCLIST")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  if __name__ == '__main__':

In [19]:
df_non_season_2.columns = df_non_season_2.columns.str.replace(' ', '_')  ## replaces whitespaces with underscore for all columns

In [20]:
df_non_season_2.columns

Index(['DATE', 'London_CARS', 'London_MOTORBIKES', 'London_BUSES',
       'London_TRUCKS', 'London_VANS', 'London_PEDESTRIANS_CYCLIST',
       'North_East_CARS', 'North_East_MOTORBIKES', 'North_East_BUSES',
       'North_East_TRUCKS', 'North_East_VANS',
       'North_East_PEDESTRIANS_CYCLIST', 'Northern_Ireland_CARS',
       'Northern_Ireland_MOTORBIKES', 'Northern_Ireland_BUSES',
       'Northern_Ireland_TRUCKS', 'Northern_Ireland_VANS',
       'Northern_Ireland_PEDESTRIANS_CYCLIST', 'Southend_CARS',
       'Southend_MOTORBIKES', 'Southend_BUSES', 'Southend_TRUCKS',
       'Southend_VANS', 'Southend_PEDESTRIANS_CYCLIST',
       'Greater_Manchester_CARS', 'Greater_Manchester_MOTORBIKES',
       'Greater_Manchester_BUSES', 'Greater_Manchester_TRUCKS',
       'Greater_Manchester_VANS', 'Greater_Manchester_PEDESTRIANS_CYCLIST',
       'Reading_CARS', 'Reading_MOTORBIKES', 'Reading_BUSES', 'Reading_TRUCKS',
       'Reading_VANS', 'Reading_PEDESTRIANS_CYCLIST'],
      dtype='object')

In [21]:
df_non_season_2.head()

,DATE,London_CARS,London_MOTORBIKES,London_BUSES,London_TRUCKS,London_VANS,London_PEDESTRIANS_CYCLIST,North_East_CARS,North_East_MOTORBIKES,North_East_BUSES,...,Greater_Manchester_BUSES,Greater_Manchester_TRUCKS,Greater_Manchester_VANS,Greater_Manchester_PEDESTRIANS_CYCLIST,Reading_CARS,Reading_MOTORBIKES,Reading_BUSES,Reading_TRUCKS,Reading_VANS,Reading_PEDESTRIANS_CYCLIST
0,,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,...,Buses,Trucks,Vans,Pedestrians & cyclists,Cars,Motorbikes,Buses,Trucks,Vans,Pedestrians & cyclists
2,2020-03-01 00:00:00,*,*,*,*,*,*,47021,20,1329,...,*,*,*,*,*,*,*,*,*,*
3,2020-03-02 00:00:00,*,*,*,*,*,*,54963,24,2442,...,*,*,*,*,*,*,*,*,*,*
4,2020-03-03 00:00:00,*,*,*,*,*,*,56779,26,2468,...,*,*,*,*,*,*,*,*,*,*
5,2020-03-04 00:00:00,*,*,*,*,*,*,53760,21,2419,...,*,*,*,*,*,*,*,*,*,*

In [22]:
## drop 1 row as now irrelevant
df_non_season_3 = df_non_season_2.drop(df_non_season_2.index[0]) 

df_non_season_3.head()

,DATE,London_CARS,London_MOTORBIKES,London_BUSES,London_TRUCKS,London_VANS,London_PEDESTRIANS_CYCLIST,North_East_CARS,North_East_MOTORBIKES,North_East_BUSES,...,Greater_Manchester_BUSES,Greater_Manchester_TRUCKS,Greater_Manchester_VANS,Greater_Manchester_PEDESTRIANS_CYCLIST,Reading_CARS,Reading_MOTORBIKES,Reading_BUSES,Reading_TRUCKS,Reading_VANS,Reading_PEDESTRIANS_CYCLIST
2,2020-03-01 00:00:00,*,*,*,*,*,*,47021,20,1329,...,*,*,*,*,*,*,*,*,*,*
3,2020-03-02 00:00:00,*,*,*,*,*,*,54963,24,2442,...,*,*,*,*,*,*,*,*,*,*
4,2020-03-03 00:00:00,*,*,*,*,*,*,56779,26,2468,...,*,*,*,*,*,*,*,*,*,*
5,2020-03-04 00:00:00,*,*,*,*,*,*,53760,21,2419,...,*,*,*,*,*,*,*,*,*,*
6,2020-03-05 00:00:00,*,*,*,*,*,*,55409,23,2540,...,*,*,*,*,*,*,*,*,*,*

**Replacing values**

in the dataset, we have the following. 

\* =  Data unavailable

\# = Data suppressed for disclosure purposes

Δ = Data excluded because of reliability issues

In [23]:
df_non_season_3[df_non_season_3 == '*'].count()

DATE                                       0
London_CARS                               10
London_MOTORBIKES                         10
London_BUSES                              10
London_TRUCKS                             10
London_VANS                               10
London_PEDESTRIANS_CYCLIST                10
North_East_CARS                           22
North_East_MOTORBIKES                     22
North_East_BUSES                          22
North_East_TRUCKS                         22
North_East_VANS                           22
North_East_PEDESTRIANS_CYCLIST            22
Northern_Ireland_CARS                     75
Northern_Ireland_MOTORBIKES               75
Northern_Ireland_BUSES                    75
Northern_Ireland_TRUCKS                   75
Northern_Ireland_VANS                     75
Northern_Ireland_PEDESTRIANS_CYCLIST      75
Southend_CARS                             74
Southend_MOTORBIKES                       74
Southend_BUSES                            74
Southend_TRUCKS                           74
Southend_VANS                             74
Southend_PEDESTRIANS_CYCLIST              74
Greater_Manchester_CARS                   47
Greater_Manchester_MOTORBIKES             47
Greater_Manchester_BUSES                  47
Greater_Manchester_TRUCKS                 47
Greater_Manchester_VANS                   47
Greater_Manchester_PEDESTRIANS_CYCLIST    47
Reading_CARS                              74
Reading_MOTORBIKES                        74
Reading_BUSES                             74
Reading_TRUCKS                            74
Reading_VANS                              74
Reading_PEDESTRIANS_CYCLIST               74
dtype: int64

In [24]:
df_non_season_3[df_non_season_3 == 'Δ'].count()

DATE                                        0
London_CARS                                 1
London_MOTORBIKES                           1
London_BUSES                                1
London_TRUCKS                               1
London_VANS                                 1
London_PEDESTRIANS_CYCLIST                  1
North_East_CARS                            34
North_East_MOTORBIKES                      28
North_East_BUSES                           34
North_East_TRUCKS                          34
North_East_VANS                            34
North_East_PEDESTRIANS_CYCLIST             34
Northern_Ireland_CARS                       6
Northern_Ireland_MOTORBIKES                 2
Northern_Ireland_BUSES                      6
Northern_Ireland_TRUCKS                     6
Northern_Ireland_VANS                       6
Northern_Ireland_PEDESTRIANS_CYCLIST        6
Southend_CARS                             142
Southend_MOTORBIKES                        29
Southend_BUSES                            142
Southend_TRUCKS                           142
Southend_VANS                             142
Southend_PEDESTRIANS_CYCLIST              142
Greater_Manchester_CARS                    29
Greater_Manchester_MOTORBIKES               2
Greater_Manchester_BUSES                   29
Greater_Manchester_TRUCKS                  29
Greater_Manchester_VANS                    29
Greater_Manchester_PEDESTRIANS_CYCLIST     29
Reading_CARS                              252
Reading_MOTORBIKES                        126
Reading_BUSES                             252
Reading_TRUCKS                            252
Reading_VANS                              252
Reading_PEDESTRIANS_CYCLIST               252
dtype: int64

In [25]:
df_non_season_3[df_non_season_3 == '#'].count()

DATE                                        0
London_CARS                                 0
London_MOTORBIKES                           0
London_BUSES                                0
London_TRUCKS                               0
London_VANS                                 0
London_PEDESTRIANS_CYCLIST                  0
North_East_CARS                             0
North_East_MOTORBIKES                       6
North_East_BUSES                            0
North_East_TRUCKS                           0
North_East_VANS                             0
North_East_PEDESTRIANS_CYCLIST              0
Northern_Ireland_CARS                       0
Northern_Ireland_MOTORBIKES               722
Northern_Ireland_BUSES                      0
Northern_Ireland_TRUCKS                     0
Northern_Ireland_VANS                       0
Northern_Ireland_PEDESTRIANS_CYCLIST        0
Southend_CARS                               0
Southend_MOTORBIKES                       696
Southend_BUSES                              0
Southend_TRUCKS                             0
Southend_VANS                               0
Southend_PEDESTRIANS_CYCLIST                0
Greater_Manchester_CARS                     0
Greater_Manchester_MOTORBIKES             513
Greater_Manchester_BUSES                    0
Greater_Manchester_TRUCKS                   0
Greater_Manchester_VANS                     0
Greater_Manchester_PEDESTRIANS_CYCLIST      0
Reading_CARS                                0
Reading_MOTORBIKES                        599
Reading_BUSES                               0
Reading_TRUCKS                              0
Reading_VANS                                0
Reading_PEDESTRIANS_CYCLIST                 0
dtype: int64

In [26]:
## lets replace the above values with 0 

df_non_season_4 = df_non_season_3.replace(to_replace=['*','Δ','#'], value=0)

In [27]:
## sum to see if the above has been applied. would expected the sum of the below to be 0

print('Number of * before:', df_non_season_3[df_non_season_3 =='*'].count().sum())
print('Number of * after:', df_non_season_4[df_non_season_4 =='*'].count().sum())


print('Number of # before:', df_non_season_3[df_non_season_3 =='#'].count().sum())
print('Number of # after:', df_non_season_4[df_non_season_4 =='#'].count().sum())


print('Number of Δ before:', df_non_season_3[df_non_season_3 =='Δ'].count().sum())
print('Number of Δ after:', df_non_season_4[df_non_season_4 =='Δ'].count().sum())

Number of * before: 1812
Number of * after: 0
Number of # before: 2536
Number of # after: 0
Number of Δ before: 2508
Number of Δ after: 0

In [28]:
df_non_season_4

,DATE,London_CARS,London_MOTORBIKES,London_BUSES,London_TRUCKS,London_VANS,London_PEDESTRIANS_CYCLIST,North_East_CARS,North_East_MOTORBIKES,North_East_BUSES,...,Greater_Manchester_BUSES,Greater_Manchester_TRUCKS,Greater_Manchester_VANS,Greater_Manchester_PEDESTRIANS_CYCLIST,Reading_CARS,Reading_MOTORBIKES,Reading_BUSES,Reading_TRUCKS,Reading_VANS,Reading_PEDESTRIANS_CYCLIST
2,2020-03-01,0,0,0,0,0,0,47021.0,20.0,1329.0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-02,0,0,0,0,0,0,54963.0,24.0,2442.0,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-03,0,0,0,0,0,0,56779.0,26.0,2468.0,...,0,0,0,0,0,0,0,0,0,0
5,2020-03-04,0,0,0,0,0,0,53760.0,21.0,2419.0,...,0,0,0,0,0,0,0,0,0,0
6,2020-03-05,0,0,0,0,0,0,55409.0,23.0,2540.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,2022-05-04,288928,791,20435,21410,51367,63031,0.0,0.0,0.0,...,465,480,1133,779,0,0,0,0,0,0
797,2022-05-05,302223,832,19756,20552,49620,64704,0.0,0.0,0.0,...,429,423,998,718,0,0,0,0,0,0
798,2022-05-06,310527,743,18851,19803,47434,60413,0.0,0.0,0.0,...,466,479,1354,593,0,0,0,0,0,0
799,2022-05-07,331122,768,17342,12496,30666,59849,0.0,0.0,0.0,...,364,265,802,769,0,0,0,0,0,0
800,2022-05-08,294724,630,13158,8856,19914,42957,0.0,0.0,0.0,...,321,206,598,981,0,0,0,0,0,0

**Converting to date time**

In [31]:
## let us see what our data type is for our columns 

df_non_season_4.dtypes

DATE                                      datetime64[ns]
London_CARS                                        int64
London_MOTORBIKES                                  int64
London_BUSES                                       int64
London_TRUCKS                                      int64
London_VANS                                        int64
London_PEDESTRIANS_CYCLIST                         int64
North_East_CARS                                  float64
North_East_MOTORBIKES                            float64
North_East_BUSES                                 float64
North_East_TRUCKS                                float64
North_East_VANS                                  float64
North_East_PEDESTRIANS_CYCLIST                   float64
Northern_Ireland_CARS                              int64
Northern_Ireland_MOTORBIKES                        int64
Northern_Ireland_BUSES                             int64
Northern_Ireland_TRUCKS                            int64
Northern_Ireland_VANS                              int64
Northern_Ireland_PEDESTRIANS_CYCLIST               int64
Southend_CARS                                      int64
Southend_MOTORBIKES                                int64
Southend_BUSES                                     int64
Southend_TRUCKS                                    int64
Southend_VANS                                      int64
Southend_PEDESTRIANS_CYCLIST                       int64
Greater_Manchester_CARS                            int64
Greater_Manchester_MOTORBIKES                      int64
Greater_Manchester_BUSES                           int64
Greater_Manchester_TRUCKS                          int64
Greater_Manchester_VANS                            int64
Greater_Manchester_PEDESTRIANS_CYCLIST             int64
Reading_CARS                                       int64
Reading_MOTORBIKES                                 int64
Reading_BUSES                                      int64
Reading_TRUCKS                                     int64
Reading_VANS                                       int64
Reading_PEDESTRIANS_CYCLIST                        int64
dtype: object

In [ ]:
## convert DATE to datetime 

df_non_season_4

**Heat map of missing values**